/* styles.css */
body {
	position: center;
	text align: center;
	background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    font-family: sans-serif;
}
#image img {   

    height: 30%;
    width: 20%;
}
#links {
    margin-top: 50px;
    font-size: 24px; 

    margin-bottom: 20px;
    color: Black;
	}
#table {
            border-collapse: collapse;
            width: 100%;
            margin: 20px auto;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        tr:nth-child(odd) {
            background-color: pink;	
        }

        a {
            text-decoration: none;
            color: #007bff;
        }
		
.content {
	display:flex;
	gap: 7%;
	font-family:sans-serif;
	
}
.red {
	color:red;
	font-family:sans-serif;
}

a:hover {
    color: green; }



span.red-bold {
    color: red;
    font-weight: bold;
	position: relative;
  

}

